aws-inventory/cloudformation/Inventory-Template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Deploy the Inventory Component of Antiope

Parameters:

  pBucketName:
    Description: Name of the bucket to hold the images
    Type: String

  pLambdaZipFile:
    Description: File Name for the lambdas
    Type: String

  pVersion:
    Description: Version of this stack's deployment
    Type: String

  pRoleName:
    Description: Default name of the AssumeRole to assume into accounts
    Type: String
    Default: Security-Audit

  pIamUserName:
    Type: String
    Description: <optional> IAM Username with access to the Inventory Bucket
    Default: NONE

  pExecutionRate:
    Description: How frequently the StepFunction should Run (As a CloudWatch ScheduleExpression)
    Type: String
    Default: rate(30 minutes)

  pSmallLambdaSize:
    Description: Memory footprint for smaller Lambda
    Type: Number
    Default: 128

  pLargeLambdaSize:
    Description: Memory footprint for Lambdas processing lots of resources
    Type: Number
    Default: 768

  pStaggerAccelerationFactor:
    Description: Factor by which the delay between SNS Publish is shrunk. The larger the number, the more frequent the publish.
    Type: Number
    Default: 2

  pAWSLambdaLayerPackage:
    Description: Object Key for the Antiope Python Dependencies Lambda Layer
    Type: String

  pEntSupport:
    Type: String
    Description: Set this to True if you have Business or Enterprise Support and can access support API
    Default: False
    AllowedValues:
      - True
      - False

Conditions:
  CreateIAMUser: !Not [ !Equals [ !Ref pIamUserName, "NONE"] ]
  EnterpriseSupport: !Equals [ !Ref pEntSupport, True]

Resources:

  InventoryIAMUser:
    Condition: CreateIAMUser
    Type: AWS::IAM::User
    Properties:
      UserName: !Ref pIamUserName
      Path: /
      Policies:
      - PolicyName: S3Access
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Action:
            - s3:*
            Effect: Allow
            Resource:
              - !Join ['', ['arn:aws:s3:::', !Ref pBucketName , /*]]
              - !Join ['', ['arn:aws:s3:::', !Ref pBucketName ]]
          - Action:
            - s3:ListAllMyBuckets
            - s3:GetBucketLocation
            Effect: Allow
            Resource: '*'

  InventoryLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - lambda.amazonaws.com
          Action:
          - sts:AssumeRole
      Path: /
      Policies:
      - PolicyName: S3Access
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Action:
            - s3:*
            Effect: Allow
            Resource:
              - !Join ['', ['arn:aws:s3:::', !Ref pBucketName , /*]]
              - !Join ['', ['arn:aws:s3:::', !Ref pBucketName ]]
          - Action:
            - s3:ListAllMyBuckets
            - s3:GetBucketLocation
            Effect: Allow
            Resource: '*'
      - PolicyName: LambdaLogging
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Resource: '*'
            Action:
            - logs:*
            Effect: Allow
      - PolicyName: DynamoAccess
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Resource:
            - !GetAtt AccountDBTable.Arn
            - !GetAtt VpcInventoryDBTable.Arn
            - !Sub "${VpcInventoryDBTable.Arn}/index/*"
            - !GetAtt HistoricalBillingDataTable.Arn
            - !Sub "${HistoricalBillingDataTable.Arn}/index/*"
            Action:
            - dynamodb:*
            Effect: Allow
      - PolicyName: SendEmails
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: Allow
            Action:
            - ses:*
            Resource: '*'
      - PolicyName: StartStepFunction
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: "Allow"
            Action:
            - states:StartExecution
            Resource: '*'
      - PolicyName: AssumeCrossAccountRole
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: "Allow"
            Action:
            - sts:AssumeRole
            Resource: !Sub "arn:aws:iam::*:role/${pRoleName}"
      - PolicyName: PublishToSNS
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: "Allow"
            Action:
            - sns:publish
            Resource:
              - !Ref TriggerAccountInventoryFunctionTopic
              - !Ref NewActiveAccountTopic
              - !Ref NewForeignAccountTopic
      - PolicyName: PublishToSQS
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: "Allow"
            Action:
            - sqs:SendMessage
            - sqs:ReceiveMessage
            - sqs:DeleteMessage
            Resource:
              - !GetAtt ErrorHandlerEventQueue.Arn
      - PolicyName: DataTableStream
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: "Allow"
            Action:
              - dynamodb:DescribeStream
              - dynamodb:GetItem
              - dynamodb:GetRecords
              - dynamodb:GetShardIterator
              - dynamodb:ListStreams
              - dynamodb:PutItem
              - dynamodb:Query
              - dynamodb:Scan
              - dynamodb:UpdateItem
            Resource:
              - !GetAtt AccountDBTable.StreamArn
      - PolicyName: ListExecutions
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Effect: "Allow"
            Action:
            - states:ListExecutions
            Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}"

  AWSInventoryLambdaLayer:
    Type: "AWS::Lambda::LayerVersion"
    Properties:
      CompatibleRuntimes:
        - python3.6
      Content:
        S3Bucket: !Ref pBucketName
        S3Key: !Ref pAWSLambdaLayerPackage
      Description: !Sub "${AWS::StackName}-AWS-Inventory-Libraries"

  #
  # State Machine Functions
  #
  LoadStepFunctionEventLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-load-sf-event"
      Description: Load the StepFunction Event from S3
      Handler: index.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      Role: !GetAtt InventoryLambdaRole.Arn
      Environment:
        Variables:
          INVENTORY_STACK_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          STEPFUNCTION_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}"
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      Code:
        ZipFile: !Sub |
          from __future__ import print_function
          import boto3
          import json
          import logging
          import os
          from botocore.exceptions import ClientError

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)
          logging.getLogger('botocore').setLevel(logging.WARNING)
          logging.getLogger('boto3').setLevel(logging.WARNING)

          # Lambda main routine
          def handler(event, context):
              logger.info("Received event: " + json.dumps(event, sort_keys=True))
              if statemachine_already_running(os.environ['STEPFUNCTION_ARN']):
                  logger.error("Stepfunction {} is already running".format(os.environ['STEPFUNCTION_ARN']))
                  raise ScorecardRunningException("Stepfunction {} is already running".format(os.environ['STEPFUNCTION_ARN']))
              client = boto3.client('s3')
              response = client.get_object(
                Bucket=os.environ['INVENTORY_BUCKET'],
                Key=event['event_file']
              )
              loaded_event = json.loads(response['Body'].read())
              event.update(loaded_event)
              return(event)

          def statemachine_already_running(stepfunction_arn):
              client = boto3.client('stepfunctions')
              response = client.list_executions(stateMachineArn=stepfunction_arn, statusFilter='RUNNING')
              if len(response['executions']) > 2:
                  raise Exception("Too many StepFunction Executions")
              elif len(response['executions']) > 1:
                  return(True)
              else:
                  return(False)

          # Used To tell the Step Function to wait 30 and try again
          class ScorecardRunningException(Exception): pass
          ### End of Function

  PullOrganizationDataLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-pull-organization-data"
      Description: AWS Lamdba to pull data from payer account into account table
      Handler: pull_organization_data.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          # Specific to this function
          TRIGGER_ACCOUNT_INVENTORY_ARN: !Ref TriggerAccountInventoryFunctionTopic
          STEPFUNCTION_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}"
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  TriggerInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-trigger-inventory"
      Description: Send a message to a topic for each AWS account
      Handler: trigger_account_actions.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 900 # This should be the max!
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          # Specific to this function
          TRIGGER_ACCOUNT_INVENTORY_ARN: !Ref TriggerAccountInventoryFunctionTopic
          ACCEL_FACTOR: !Ref pStaggerAccelerationFactor
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  InventoryErrorHandlingLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-error-handler"
      Description: Handle Errors generated by the aws-inventory system
      Handler: index.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      Role: !GetAtt InventoryLambdaRole.Arn
      Environment:
        Variables:
          INVENTORY_STACK_NAME: !Ref AWS::StackName
          CONFIG_FILE: "config.json"
          INVENTORY_BUCKET: !Ref pBucketName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      Code:
        ZipFile: !Sub |
          from __future__ import print_function
          import boto3
          import json
          import logging
          import os
          from botocore.exceptions import ClientError

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          # Lambda main routine
          def handler(event, context):
              logger.info("Received event: " + json.dumps(event, sort_keys=True))

              sns_client = boto3.client('sns')
              sns_client.publish (
                TopicArn=os.environ['ALARM_TOPIC'],
                Message=json.dumps(event, sort_keys=True),
                Subject="{} Lambda Error".format(os.environ['INVENTORY_STACK_NAME'])
                )
              raise Exception(event['Cause'])
          ### End of Function

  CreateAccountReportLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-create-account-report"
      Description: Create an HTML Report with all the AWS Accounts
      Handler: report-accounts.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  CreateForeignAccountReportLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-foreign-acct-report"
      Description: Create an HTML Report with all the Foreign AWS Accounts
      Handler: report-foreign.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  CreateVPCReportLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-create-vpc-report"
      Description: Create an HTML Report with all the AWS VPCs
      Handler: report-vpcs.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  CreateCredentialReportLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-create-cred-report"
      Description: Combine all credential reports into single csv file
      Handler: report-unified-credential-report.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  HandoffToNextStepFunctionLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-next-func-handler"
      Description: Handoff to the next StepFunction (if specified)
      Handler: index.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      Role: !GetAtt InventoryLambdaRole.Arn
      Environment:
        Variables:
          INVENTORY_STACK_NAME: !Ref AWS::StackName
          CONFIG_FILE: "config.json"
          INVENTORY_BUCKET: !Ref pBucketName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      Code:
        ZipFile: !Sub |
          from __future__ import print_function
          import boto3
          import json
          import logging
          import os
          from botocore.exceptions import ClientError

          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          # Lambda main routine
          def handler(event, context):
              logger.info("Received event: " + json.dumps(event, sort_keys=True))
              if 'next_function' in event and '${AWS::StackName}' in event['next_function']:
                client = boto3.client('stepfunctions')
                response = client.start_execution(
                  stateMachineArn=event['next_function']['${AWS::StackName}'],
                  input=json.dumps(event, sort_keys=True)
                )
          ### End of Function

  #
  # New Account Handling
  #
  NewAccountHandlerLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-new_account_handler"
      Description: Function to Handle the discovery of new Accounts written to the Accounts DDB Table
      Handler: new_account_handler.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
          # Specific to this function
          ACTIVE_TOPIC: !Ref NewActiveAccountTopic
          FOREIGN_TOPIC: !Ref NewForeignAccountTopic

      # Tags inherited from Stack

  DataTableStream:
    Type: AWS::Lambda::EventSourceMapping
    DependsOn: InventoryLambdaRole
    Properties:
      BatchSize: 25 #trigger one lambda per document
      Enabled: True
      EventSourceArn: !GetAtt AccountDBTable.StreamArn
      FunctionName: !GetAtt NewAccountHandlerLambdaFunction.Arn
      StartingPosition: LATEST #always start at the tail of the stream

  NewActiveAccountTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: !Sub "Notifications of a new AWS Account"

  NewForeignAccountTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: !Sub "Notifications for discovery of a foreign AWS Account"
  #
  # Parallel Execution Functions
  #
  VpcInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-vpc-inventory"
      Description: AWS Lamdba to populate a table with info on all VPCs
      Handler: inventory-vpc.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  ENIInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-eni-inventory"
      Description: AWS Lamdba to to inventory all public IPs & ENIs in an account
      Handler: inventory-eni.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  HealthInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-health-inventory"
      Description: AWS Lamdba to to inventory Health Dashboard results
      Handler: inventory-health-report.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  CloudFormationInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-cloudformation-inventory"
      Description: Inventory the CF Stacks for the specific account
      Handler: inventory-cft.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  InstancesSecurityGroupsInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-instances-sg-inventory"
      Description: Inventory instances and security groups to a JSON file in S3
      Handler: inventory-instances-sg.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  GetBillingDataLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-get-billing-data"
      Description: Pull the spend from the AWS account
      Handler: get_billing_data.handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
          # Specific to this function
          BILLING_TABLE: !Ref HistoricalBillingDataTable

  Route53InventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-route53-inventory"
      Description: Inventory Route 53 Domains & Zones
      Handler: inventory-route53.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  BucketInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-bucket-inventory"
      Description: Inventory S3 Buckets and their attributes
      Handler: inventory-buckets.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: 1536
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  IAMInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-iam-inventory"
      Description: Inventory IAM Roles & Users
      Handler: inventory-iam.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  ECSInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ecs-inventory"
      Description: Inventory ECS Clusters & Tasks
      Handler: inventory-ecs.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  CloudTrailInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-cloudtrail-inventory"
      Description: Inventory CloudTrails
      Handler: inventory-cloudtrail.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  ElasticSearchInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-es-inventory"
      Description: Inventory ElasticSearch Service Domains
      Handler: inventory-es.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  CloudfrontInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-cloudfront-inventory"
      Description: Inventory CloudFront Distributions
      Handler: inventory-cloudfront.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  SecretsManagerInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-secrets-inventory"
      Description: Inventory Secrets Manager Secrets
      Handler: inventory-secrets.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  ECRInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ecr-inventory"
      Description: Inventory ECR Repos and Images
      Handler: inventory-ecr.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  KMSInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-kms-inventory"
      Description: Inventory Key Management Service
      Handler: inventory-kms.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  LambdasInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-lambdas-inventory"
      Description: Inventory Lambdas Functions
      Handler: inventory-lambdas.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 600
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  DirectConnectInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-dx-inventory"
      Description: Inventory DirectConnect
      Handler: inventory-dx.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  AMIInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ami-inventory"
      Description: Inventory AMIs in use
      Handler: inventory-ami.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  SSMInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ssm-inventory"
      Description: Inventory Instances reporting into SSM
      Handler: inventory-ssm.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  TAInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Condition: EnterpriseSupport
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ta-inventory"
      Description: Inventory Trusted Advisor Checks
      Handler: inventory-trusted-advisor.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  SupportInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Condition: EnterpriseSupport
    Properties:
      FunctionName: !Sub "${AWS::StackName}-support-inventory"
      Description: Inventory Support Cases
      Handler: inventory-support-cases.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  GuarddutyInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-guardduty-inventory"
      Description: Inventory GuardDuty Detectors
      Handler: inventory-guardduty.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  IAMAccessAnalyzerLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-iam-analyzer-inventory"
      Description: Inventory IAM Access Analyzer Findings
      Handler: inventory-iam-analyzer.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pSmallLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  EBSVolInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ebs-vol-inventory"
      Description: Inventory EBS Volumes & Snapshots
      Handler: inventory-ebs-volume.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  EBSSnapInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-ebs-snap-inventory"
      Description: Inventory EBS Volumes & Snapshots
      Handler: inventory-ebs-snapshot.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  ELBInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-elb-inventory"
      Description: Inventory V1 and V2 LoadBalancers
      Handler: inventory-elb.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  RDSInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-rds-inventory"
      Description: Inventory RDS and Aurora Databases
      Handler: inventory-rds.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  SageMakerInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-sagemaker-inventory"
      Description: Inventory RDS and Aurora Databases
      Handler: inventory-sagemaker.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack

  RedshiftInventoryLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-redshift-inventory"
      Description: Inventory Redshift Clusters
      Handler: inventory-redshift.lambda_handler
      Runtime: python3.6
      Layers:
        - !Ref AWSInventoryLambdaLayer
      Timeout: 300
      MemorySize: !Ref pLargeLambdaSize
      Role: !GetAtt InventoryLambdaRole.Arn
      Code:
        S3Bucket: !Ref pBucketName
        S3Key: !Sub ${pLambdaZipFile}
      Environment:
        Variables:
          ROLE_SESSION_NAME: !Ref AWS::StackName
          INVENTORY_BUCKET: !Ref pBucketName
          ACCOUNT_TABLE: !Ref AccountDBTable
          VPC_TABLE: !Ref VpcInventoryDBTable
          ROLE_NAME: !Ref pRoleName
          ERROR_QUEUE: !Ref ErrorHandlerEventQueue
      # Tags inherited from Stack


  #
  # StateMachine
  #
  TriggerStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - events.amazonaws.com
          Action:
          - sts:AssumeRole
      Path: /
      Policies:
      - PolicyName: ExecuteStateMachine
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Action:
            - states:StartExecution
            Effect: Allow
            Resource:
              - !Ref InventoryProcessStateMachine

  TriggerStateMachine:
    Type: "AWS::Events::Rule"
    Properties:
      Description: "Trigger the state machine to gather inventory data"
      ScheduleExpression: !Ref pExecutionRate
      Targets:
      - Arn: !Ref InventoryProcessStateMachine
        RoleArn: !GetAtt TriggerStateMachineRole.Arn
        Id: TargetFunctionV1
        Input: !Sub |
          {"event_file": "${AWS::StackName}-config.json" }

  StateMachineExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - !Sub states.${AWS::Region}.amazonaws.com
          Action:
          - sts:AssumeRole
      Path: /
      Policies:
      - PolicyName: InvokeLambda
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Action:
            - lambda:InvokeFunction
            Effect: Allow
            Resource:
              - !GetAtt LoadStepFunctionEventLambdaFunction.Arn
              - !GetAtt PullOrganizationDataLambdaFunction.Arn
              - !GetAtt TriggerInventoryLambdaFunction.Arn
              - !GetAtt CreateAccountReportLambdaFunction.Arn
              - !GetAtt CreateForeignAccountReportLambdaFunction.Arn
              - !GetAtt CreateVPCReportLambdaFunction.Arn
              - !GetAtt CreateCredentialReportLambdaFunction.Arn
              - !GetAtt HandoffToNextStepFunctionLambdaFunction.Arn
              - !GetAtt InventoryErrorHandlingLambdaFunction.Arn
      - PolicyName: LambdaLogging
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
          - Resource: '*'
            Action:
            - logs:*
            Effect: Allow

  InventoryProcessStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StateMachineExecutionRole.Arn
      StateMachineName: !Ref AWS::StackName
      DefinitionString: !Sub |-
        {
          "Comment": "(${AWS::StackName}) State Machine to Gather Account Inventory Information",
          "StartAt": "LoadStepFunctionEventLambdaFunction",
          "States": {
            "ErrorHandlerState": {
              "Type": "Task",
              "Resource": "${InventoryErrorHandlingLambdaFunction.Arn}" ,
              "End": true
            },
            "LoadStepFunctionEventLambdaFunction": {
              "Type": "Task",
              "Resource": "${LoadStepFunctionEventLambdaFunction.Arn}",
              "Next": "PullOrganizationDataLambdaFunction",
              "Catch": [
                {"ErrorEquals": ["ScorecardRunningException"], "Next": "WaitForStepFunctionToFinish", "ResultPath": "$.error-info"},
                {"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}
              ]
            },
            "PullOrganizationDataLambdaFunction": {
              "Type": "Task",
              "Resource": "${PullOrganizationDataLambdaFunction.Arn}",
              "Next": "TriggerInventoryLambdaFunction",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"} ] },
            "TriggerInventoryLambdaFunction": {
              "Type": "Task",
              "Resource": "${TriggerInventoryLambdaFunction.Arn}",
              "Next": "WaitForLambdaExecutionsToComplete",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}]
            },
            "WaitForLambdaExecutionsToComplete": {
              "Type": "Wait",
              "Seconds": 300,
              "Next": "CreateAccountReportLambdaFunction"
            },
            "CreateAccountReportLambdaFunction": {
              "Type": "Task",
              "Resource": "${CreateAccountReportLambdaFunction.Arn}",
              "Next": "CreateForeignAccountReportLambdaFunction",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}]
            },
            "CreateForeignAccountReportLambdaFunction": {
              "Type": "Task",
              "Resource": "${CreateForeignAccountReportLambdaFunction.Arn}",
              "Next": "CreateVPCReportLambdaFunction",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}]
            },
            "CreateVPCReportLambdaFunction": {
              "Type": "Task",
              "Resource": "${CreateVPCReportLambdaFunction.Arn}",
              "Next": "CreateCredentialReportLambdaFunction",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}]
            },
            "CreateCredentialReportLambdaFunction": {
              "Type": "Task",
              "Resource": "${CreateCredentialReportLambdaFunction.Arn}",
              "Next": "HandoffToNextStepFunctionLambdaFunction",
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}]
            },
            "HandoffToNextStepFunctionLambdaFunction": {
              "Type": "Task",
              "Resource": "${HandoffToNextStepFunctionLambdaFunction.Arn}",
              "End": true,
              "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "ErrorHandlerState"}]
            },
            "WaitForStepFunctionToFinish": {
              "Type" : "Wait",
              "Seconds" : 300,
              "Next": "LoadStepFunctionEventLambdaFunction"
            }
          }
        }

  #
  # Topic & Subscriptions
  #
  TriggerAccountInventoryFunctionTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: !Sub "Triggers the Inventory of each Account for ${AWS::StackName}"

  VpcInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt VpcInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  VpcInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [VpcInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  ENIInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ENIInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  ENIInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [ENIInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  CloudFormationInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt CloudFormationInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  CloudFormationInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [CloudFormationInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  InstancesSecurityGroupsInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt InstancesSecurityGroupsInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  InstancesSecurityGroupsInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [InstancesSecurityGroupsInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  GetBillingDataLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GetBillingDataLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  GetBillingDataInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [GetBillingDataLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  Route53InventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt Route53InventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  Route53InventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [Route53InventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  BucketInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt BucketInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  BucketInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [BucketInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  IAMInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt IAMInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  IAMInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [IAMInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  ECSInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ECSInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  ECSInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [ECSInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  CloudTrailInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt CloudTrailInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  CloudTrailInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [CloudTrailInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  ElasticSearchInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ElasticSearchInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  ElasticSearchInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [ElasticSearchInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  CloudfrontInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt CloudfrontInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  CloudfrontInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [CloudfrontInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  SecretsManagerInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt SecretsManagerInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  SecretsManagerInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [SecretsManagerInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  ECRInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ECRInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  ECRInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [ECRInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  LambdasInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt LambdasInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  LambdasInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [LambdasInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  KMSInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt KMSInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  KMSInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [KMSInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  DirectConnectnventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt DirectConnectInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  DirectConnectInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [DirectConnectInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  AMIInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt AMIInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  AMIInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [AMIInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  SSMInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt SSMInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  SSMInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [SSMInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  TAInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Condition: EnterpriseSupport
    Properties:
      FunctionName: !GetAtt TAInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  TAInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Condition: EnterpriseSupport
    Properties:
      Endpoint: !GetAtt [TAInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  SupportInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Condition: EnterpriseSupport
    Properties:
      FunctionName: !GetAtt SupportInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  SupportInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Condition: EnterpriseSupport
    Properties:
      Endpoint: !GetAtt [SupportInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  GuarddutyInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GuarddutyInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  GuarddutyInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [GuarddutyInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  IAMAccessAnalyzerInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt IAMAccessAnalyzerLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  IAMAccessAnalyzerInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [IAMAccessAnalyzerLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  EBSVolInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt EBSVolInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  EBSVolInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [EBSVolInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  EBSSnapInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt EBSSnapInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  EBSSnapInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [EBSSnapInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  RDSInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt RDSInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  RDSInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [RDSInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  ELBInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ELBInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  ELBInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [ELBInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  SageMakerInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt SageMakerInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  SageMakerInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [SageMakerInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'

  RedshiftInventoryLambdaFunctionPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt RedshiftInventoryLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref TriggerAccountInventoryFunctionTopic
      Action: lambda:invokeFunction

  RedshiftInventoryTopicToLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt [RedshiftInventoryLambdaFunction, Arn]
      Protocol: lambda
      TopicArn: !Ref 'TriggerAccountInventoryFunctionTopic'


  #
  # DynamoDB Tables
  #

  # This table has a 1-1 mapping of data from the AWS Organization(s) from each payer
  AccountDBTable:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: !Sub "${AWS::StackName}-accounts"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: "account_id"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "account_id"
          KeyType: "HASH"
      StreamSpecification:
        StreamViewType: NEW_IMAGE

  # This table stores the vpc inventory
  VpcInventoryDBTable:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: !Sub "${AWS::StackName}-vpc-inventory"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: "vpc_id"
          AttributeType: "S"
        - AttributeName: "account_id"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "vpc_id"
          KeyType: "HASH"
      GlobalSecondaryIndexes:
      - IndexName: "account-index"
        KeySchema:
          - AttributeName: "account_id"
            KeyType: "HASH"
        Projection:
          ProjectionType: ALL

  HistoricalBillingDataTable:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: !Sub "${AWS::StackName}-billing-data"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: "account_id"
          AttributeType: "S"
        - AttributeName: "datetime"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "account_id"
          KeyType: "HASH"
        - AttributeName: "datetime"
          KeyType: "RANGE"

  #
  # Spray 'n Pray Error Handling
  #


  ErrorHandlerEventQueue:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: alias/aws/sqs
      KmsDataKeyReusePeriodSeconds: 86400
      MessageRetentionPeriod: 86400 # Hold on to errors for a day.
      ReceiveMessageWaitTimeSeconds: 10
      # RedrivePolicy:
      #   FIXME
      VisibilityTimeout: 300

  ErrorHandlerEventQueueAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: True
      # AlarmActions:
      #   - String
      AlarmDescription: "Alert when Error Queue has messages"
      AlarmName: !Sub "${AWS::StackName}-ErrorQueue"
      ComparisonOperator: GreaterThanOrEqualToThreshold
      Dimensions:
        - Name: QueueName
          Value: !GetAtt ErrorHandlerEventQueue.QueueName
      EvaluationPeriods: 1
      MetricName: ApproximateNumberOfMessagesVisible
      Namespace: AWS/SQS
      # OKActions:
      #   - String
      Period: 300
      Statistic: Average
      Threshold: 1
      TreatMissingData: missing

  #
  # Dashboard
  #
  Dashboard:
    Type: "AWS::CloudWatch::Dashboard"
    Properties:
      DashboardName: !Ref AWS::StackName
      DashboardBody: !Sub |-
        {
          "widgets": [
            {
              "type": "metric",
              "x": 0,
              "y": 0,
              "width": 12,
              "height": 3,
              "properties": {
                "view": "singleValue",
                "metrics": [
                  [ "AWS/States", "ExecutionsStarted", "StateMachineArn", "${InventoryProcessStateMachine}", { "stat": "Sum", "period": 604800, "label": "Started" } ],
                  [ ".", "ExecutionsSucceeded", ".", ".", { "stat": "Sum", "period": 604800, "label": "Succeeded" } ],
                  [ ".", "ExecutionsFailed", ".", ".", { "stat": "Sum", "period": 604800, "label": "Failed" } ]
                ],
                "region": "${AWS::Region}",
                "title": "StateMachine Executions",
                "period": 300
              }
            },
            {
                "type": "metric",
                "x": 12,
                "y": 0,
                "width": 3,
                "height": 3,
                "properties": {
                    "title": "ErrorQueue",
                    "annotations": {"alarms": ["${ErrorHandlerEventQueueAlarm.Arn}"] },
                    "view": "singleValue"
                }
            },
            {
              "type": "text",
              "x": 18,
              "y": 0,
              "width": 6,
              "height": 3,
              "properties": {
                "markdown": "\n# Tables\n* [Accounts](\nhttps://console.aws.amazon.com/dynamodb/home?region=${AWS::Region}#tables:selected=${AccountDBTable})\n* [VPCs](https://console.aws.amazon.com/dynamodb/home?region=${AWS::Region}#tables:selected=${VpcInventoryDBTable})\n* [BillingData](https://console.aws.amazon.com/dynamodb/home?region=${AWS::Region}#tables:selected=${HistoricalBillingDataTable})\n"
              }
            },
            {
              "type": "text",
              "x": 0,
              "y": 3,
              "width": 12,
              "height": 3,
              "styles": "undefined",
              "properties": {
                  "markdown": "\n# Stack Info\n* **Deploy Package**: ${pLambdaZipFile}\n* **Execution Schedule**: ${pExecutionRate} (GMT)\n* **Region**: ${AWS::Region}\n"
              }
            },
            {
              "type": "text",
              "x": 18,
              "y": 3,
              "width": 6,
              "height": 3,
              "properties": {
                "markdown": "\n# Quick Links\n* [StateMachine](https://console.aws.amazon.com/states/home?region=${AWS::Region}#/statemachines/view/${InventoryProcessStateMachine})\n* [S3 Bucket](https://s3.console.aws.amazon.com/s3/buckets/${pBucketName}/?region=${AWS::Region}&tab=overview)\n* [Trigger Event](https://console.aws.amazon.com/cloudwatch/home?region=${AWS::Region}#rules:name=${TriggerStateMachine})\n* [Error SQS Queue](https://console.aws.amazon.com/sqs/home?region=${AWS::Region}#queue-browser:selected=${ErrorHandlerEventQueue};prefix=)\n"
              }
            },
            {
              "type": "metric",
              "x": 0,
              "y": 6,
              "width": 24,
              "height": 9,
              "properties": {
                "view": "singleValue",
                "metrics": [
                  [ "AWS/Lambda", "Invocations", "FunctionName", "${AWS::StackName}-pull-organization-data", { "stat": "Sum", "period": 604800, "label": "pull-organization-data"} ],
                  [ "...", "${AWS::StackName}-ami-inventory", { "stat": "Sum", "period": 604800, "label": "ami-inventory" } ],
                  [ "...", "${AWS::StackName}-bucket-inventory", { "stat": "Sum", "period": 604800, "label": "bucket-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudformation-inventory", { "stat": "Sum", "period": 604800, "label": "cloudformation-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudfront-inventory", { "stat": "Sum", "period": 604800, "label": "cloudfront-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudtrail-inventory", { "stat": "Sum", "period": 604800, "label": "cloudtrail-inventory" } ],
                  [ "...", "${AWS::StackName}-dx-inventory", { "stat": "Sum", "period": 604800, "label": "dx-inventory" } ],
                  [ "...", "${AWS::StackName}-ebs-vol-inventory", { "stat": "Sum", "period": 604800, "label": "ebs-vol-inventory" } ],
                  [ "...", "${AWS::StackName}-ebs-snap-inventory", { "stat": "Sum", "period": 604800, "label": "ebs-snap-inventory" } ],
                  [ "...", "${AWS::StackName}-ecr-inventory", { "stat": "Sum", "period": 604800, "label": "ecr-inventory" } ],
                  [ "...", "${AWS::StackName}-ecs-inventory", { "stat": "Sum", "period": 604800, "label": "ecs-inventory" } ],
                  [ "...", "${AWS::StackName}-elb-inventory", { "stat": "Sum", "period": 604800, "label": "elb-inventory" } ],
                  [ "...", "${AWS::StackName}-eni-inventory", { "stat": "Sum", "period": 604800, "label": "eni-inventory" } ],
                  [ "...", "${AWS::StackName}-es-inventory", { "stat": "Sum", "period": 604800, "label": "es-inventory" } ],
                  [ "...", "${AWS::StackName}-guardduty-inventory", { "stat": "Sum", "period": 604800, "label": "guardduty-inventory" } ],
                  [ "...", "${AWS::StackName}-health-inventory", { "stat": "Sum", "period": 604800, "label": "health-inventory" } ],
                  [ "...", "${AWS::StackName}-iam-analyzer-inventory", { "stat": "Sum", "period": 604800, "label": "iam-analyzer-inventory" } ],
                  [ "...", "${AWS::StackName}-iam-inventory", { "stat": "Sum", "period": 604800, "label": "iam-inventory" } ],
                  [ "...", "${AWS::StackName}-instances-sg-inventory", { "stat": "Sum", "period": 604800, "label": "instances-securitygroups-inventory" } ],
                  [ "...", "${AWS::StackName}-kms-inventory", { "stat": "Sum", "period": 604800, "label": "kms-inventory" } ],
                  [ "...", "${AWS::StackName}-lambdas-inventory", { "stat": "Sum", "period": 604800, "label": "lambdas-inventory" } ],
                  [ "...", "${AWS::StackName}-redshift-inventory", { "stat": "Sum", "period": 604800, "label": "redshift-inventory" } ],
                  [ "...", "${AWS::StackName}-rds-inventory", { "stat": "Sum", "period": 604800, "label": "rds-inventory" } ],
                  [ "...", "${AWS::StackName}-route53-inventory", { "stat": "Sum", "period": 604800, "label": "route53-inventory" } ],
                  [ "...", "${AWS::StackName}-sagemaker-inventory", { "stat": "Sum", "period": 604800, "label": "sagemaker-inventory" } ],
                  [ "...", "${AWS::StackName}-secrets-inventory", { "stat": "Sum", "period": 604800, "label": "secrets-inventory" } ],
                  [ "...", "${AWS::StackName}-ssm-inventory", { "stat": "Sum", "period": 604800, "label": "ssm-inventory" } ],
                  [ "...", "${AWS::StackName}-support-inventory", { "stat": "Sum", "period": 604800, "label": "support-inventory" } ],
                  [ "...", "${AWS::StackName}-ta-inventory", { "stat": "Sum", "period": 604800, "label": "ta-inventory" } ],
                  [ "...", "${AWS::StackName}-trigger-inventory", { "stat": "Sum", "period": 604800, "label": "trigger-inventory" } ],
                  [ "...", "${AWS::StackName}-vpc-inventory", { "stat": "Sum", "period": 604800, "label": "vpc-inventory" } ],
                  [ "...", "${AWS::StackName}-get-billing-data", { "stat": "Sum", "period": 604800, "label": "get-billing-data" } ],
                  [ "...", "${AWS::StackName}-new_account_handler", { "stat": "Sum", "period": 604800, "label": "new_account_handler" } ],
                  [ "...", "${AWS::StackName}-create-account-report", { "stat": "Sum", "period": 604800, "label": "create-account-report" } ],
                  [ "...", "${AWS::StackName}-create-cred-report", { "stat": "Sum", "period": 604800, "label": "create-cred-report" } ],
                  [ "...", "${AWS::StackName}-create-foreign-account-report", { "stat": "Sum", "period": 604800, "label": "create-foreign-account-report" } ],
                  [ "...", "${AWS::StackName}-create-vpc-report", { "stat": "Sum", "period": 604800, "label": "create-vpc-report" } ],
                  [ "...", "${AWS::StackName}-error-handler", { "stat": "Sum", "period": 604800, "label": "error-handler" } ]
                ],
                "region": "${AWS::Region}",
                "title": "Lambda Invocation",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 0,
              "y": 15,
              "width": 24,
              "height": 9,
              "properties": {
                "view": "singleValue",
                "metrics": [
                  [ "AWS/Lambda", "Errors", "FunctionName", "${AWS::StackName}-pull-organization-data", { "stat": "Sum", "period": 604800, "label": "pull-organization-data"} ],
                  [ "...", "${AWS::StackName}-ami-inventory", { "stat": "Sum", "period": 604800, "label": "ami-inventory" } ],
                  [ "...", "${AWS::StackName}-bucket-inventory", { "stat": "Sum", "period": 604800, "label": "bucket-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudformation-inventory", { "stat": "Sum", "period": 604800, "label": "cloudformation-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudfront-inventory", { "stat": "Sum", "period": 604800, "label": "cloudfront-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudtrail-inventory", { "stat": "Sum", "period": 604800, "label": "cloudtrail-inventory" } ],
                  [ "...", "${AWS::StackName}-dx-inventory", { "stat": "Sum", "period": 604800, "label": "dx-inventory" } ],
                  [ "...", "${AWS::StackName}-ebs-vol-inventory", { "stat": "Sum", "period": 604800, "label": "ebs-vol-inventory" } ],
                  [ "...", "${AWS::StackName}-ebs-snap-inventory", { "stat": "Sum", "period": 604800, "label": "ebs-snap-inventory" } ],
                  [ "...", "${AWS::StackName}-ecr-inventory", { "stat": "Sum", "period": 604800, "label": "ecr-inventory" } ],
                  [ "...", "${AWS::StackName}-ecs-inventory", { "stat": "Sum", "period": 604800, "label": "ecs-inventory" } ],
                  [ "...", "${AWS::StackName}-elb-inventory", { "stat": "Sum", "period": 604800, "label": "elb-inventory" } ],
                  [ "...", "${AWS::StackName}-eni-inventory", { "stat": "Sum", "period": 604800, "label": "eni-inventory" } ],
                  [ "...", "${AWS::StackName}-es-inventory", { "stat": "Sum", "period": 604800, "label": "es-inventory" } ],
                  [ "...", "${AWS::StackName}-guardduty-inventory", { "stat": "Sum", "period": 604800, "label": "guardduty-inventory" } ],
                  [ "...", "${AWS::StackName}-health-inventory", { "stat": "Sum", "period": 604800, "label": "health-inventory" } ],
                  [ "...", "${AWS::StackName}-iam-analyzer-inventory", { "stat": "Sum", "period": 604800, "label": "iam-analyzer-inventory" } ],
                  [ "...", "${AWS::StackName}-iam-inventory", { "stat": "Sum", "period": 604800, "label": "iam-inventory" } ],
                  [ "...", "${AWS::StackName}-instances-sg-inventory", { "stat": "Sum", "period": 604800, "label": "instances-securitygroups-inventory" } ],
                  [ "...", "${AWS::StackName}-kms-inventory", { "stat": "Sum", "period": 604800, "label": "kms-inventory" } ],
                  [ "...", "${AWS::StackName}-lambdas-inventory", { "stat": "Sum", "period": 604800, "label": "lambdas-inventory" } ],
                  [ "...", "${AWS::StackName}-redshift-inventory", { "stat": "Sum", "period": 604800, "label": "redshift-inventory" } ],
                  [ "...", "${AWS::StackName}-rds-inventory", { "stat": "Sum", "period": 604800, "label": "rds-inventory" } ],
                  [ "...", "${AWS::StackName}-route53-inventory", { "stat": "Sum", "period": 604800, "label": "route53-inventory" } ],
                  [ "...", "${AWS::StackName}-sagemaker-inventory", { "stat": "Sum", "period": 604800, "label": "sagemaker-inventory" } ],
                  [ "...", "${AWS::StackName}-secrets-inventory", { "stat": "Sum", "period": 604800, "label": "secrets-inventory" } ],
                  [ "...", "${AWS::StackName}-ssm-inventory", { "stat": "Sum", "period": 604800, "label": "ssm-inventory" } ],
                  [ "...", "${AWS::StackName}-support-inventory", { "stat": "Sum", "period": 604800, "label": "support-inventory" } ],
                  [ "...", "${AWS::StackName}-ta-inventory", { "stat": "Sum", "period": 604800, "label": "ta-inventory" } ],
                  [ "...", "${AWS::StackName}-trigger-inventory", { "stat": "Sum", "period": 604800, "label": "trigger-inventory" } ],
                  [ "...", "${AWS::StackName}-vpc-inventory", { "stat": "Sum", "period": 604800, "label": "vpc-inventory" } ],
                  [ "...", "${AWS::StackName}-get-billing-data", { "stat": "Sum", "period": 604800, "label": "get-billing-data" } ],
                  [ "...", "${AWS::StackName}-new_account_handler", { "stat": "Sum", "period": 604800, "label": "new_account_handler" } ],
                  [ "...", "${AWS::StackName}-create-account-report", { "stat": "Sum", "period": 604800, "label": "create-account-report" } ],
                  [ "...", "${AWS::StackName}-create-cred-report", { "stat": "Sum", "period": 604800, "label": "create-cred-report" } ],
                  [ "...", "${AWS::StackName}-create-foreign-account-report", { "stat": "Sum", "period": 604800, "label": "create-foreign-account-report" } ],
                  [ "...", "${AWS::StackName}-create-vpc-report", { "stat": "Sum", "period": 604800, "label": "create-vpc-report" } ],
                  [ "...", "${AWS::StackName}-error-handler", { "stat": "Sum", "period": 604800, "label": "error-handler" } ]
                ],
                "region": "${AWS::Region}",
                "title": "Lambda Errors",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 0,
              "y": 24,
              "width": 24,
              "height": 6,
              "properties": {
                "view": "singleValue",
                "metrics": [
                  [ "AWS/Lambda", "Errors", "FunctionName", "${AWS::StackName}-pull-organization-data", { "stat": "Sum", "period": 900, "label": "pull-organization-data"} ],
                  [ "...", "${AWS::StackName}-ami-inventory", { "stat": "Sum", "period": 900, "label": "ami-inventory" } ],
                  [ "...", "${AWS::StackName}-bucket-inventory", { "stat": "Sum", "period": 900, "label": "bucket-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudformation-inventory", { "stat": "Sum", "period": 900, "label": "cloudformation-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudfront-inventory", { "stat": "Sum", "period": 900, "label": "cloudfront-inventory" } ],
                  [ "...", "${AWS::StackName}-cloudtrail-inventory", { "stat": "Sum", "period": 900, "label": "cloudtrail-inventory" } ],
                  [ "...", "${AWS::StackName}-dx-inventory", { "stat": "Sum", "period": 900, "label": "dx-inventory" } ],
                  [ "...", "${AWS::StackName}-ebs-vol-inventory", { "stat": "Sum", "period": 900, "label": "ebs-vol-inventory" } ],
                  [ "...", "${AWS::StackName}-ebs-snap-inventory", { "stat": "Sum", "period": 900, "label": "ebs-snap-inventory" } ],
                  [ "...", "${AWS::StackName}-ecr-inventory", { "stat": "Sum", "period": 900, "label": "ecr-inventory" } ],
                  [ "...", "${AWS::StackName}-ecs-inventory", { "stat": "Sum", "period": 900, "label": "ecs-inventory" } ],
                  [ "...", "${AWS::StackName}-elb-inventory", { "stat": "Sum", "period": 900, "label": "elb-inventory" } ],
                  [ "...", "${AWS::StackName}-eni-inventory", { "stat": "Sum", "period": 900, "label": "eni-inventory" } ],
                  [ "...", "${AWS::StackName}-es-inventory", { "stat": "Sum", "period": 900, "label": "es-inventory" } ],
                  [ "...", "${AWS::StackName}-guardduty-inventory", { "stat": "Sum", "period": 900, "label": "guardduty-inventory" } ],
                  [ "...", "${AWS::StackName}-health-inventory", { "stat": "Sum", "period": 900, "label": "health-inventory" } ],
                  [ "...", "${AWS::StackName}-iam-analyzer-inventory", { "stat": "Sum", "period": 900, "label": "iam-analyzer-inventory" } ],
                  [ "...", "${AWS::StackName}-iam-inventory", { "stat": "Sum", "period": 900, "label": "iam-inventory" } ],
                  [ "...", "${AWS::StackName}-instances-sg-inventory", { "stat": "Sum", "period": 900, "label": "instances-securitygroups-inventory" } ],
                  [ "...", "${AWS::StackName}-kms-inventory", { "stat": "Sum", "period": 900, "label": "kms-inventory" } ],
                  [ "...", "${AWS::StackName}-lambdas-inventory", { "stat": "Sum", "period": 900, "label": "lambdas-inventory" } ],
                  [ "...", "${AWS::StackName}-redshift-inventory", { "stat": "Sum", "period": 900, "label": "redshift-inventory" } ],
                  [ "...", "${AWS::StackName}-rds-inventory", { "stat": "Sum", "period": 900, "label": "rds-inventory" } ],
                  [ "...", "${AWS::StackName}-route53-inventory", { "stat": "Sum", "period": 900, "label": "route53-inventory" } ],
                  [ "...", "${AWS::StackName}-sagemaker-inventory", { "stat": "Sum", "period": 900, "label": "sagemaker-inventory" } ],
                  [ "...", "${AWS::StackName}-secrets-inventory", { "stat": "Sum", "period": 900, "label": "secrets-inventory" } ],
                  [ "...", "${AWS::StackName}-ssm-inventory", { "stat": "Sum", "period": 900, "label": "ssm-inventory" } ],
                  [ "...", "${AWS::StackName}-support-inventory", { "stat": "Sum", "period": 900, "label": "support-inventory" } ],
                  [ "...", "${AWS::StackName}-ta-inventory", { "stat": "Sum", "period": 900, "label": "ta-inventory" } ],
                  [ "...", "${AWS::StackName}-trigger-inventory", { "stat": "Sum", "period": 900, "label": "trigger-inventory" } ],
                  [ "...", "${AWS::StackName}-vpc-inventory", { "stat": "Sum", "period": 900, "label": "vpc-inventory" } ],
                  [ "...", "${AWS::StackName}-get-billing-data", { "stat": "Sum", "period": 900, "label": "get-billing-data" } ],
                  [ "...", "${AWS::StackName}-new_account_handler", { "stat": "Sum", "period": 900, "label": "new_account_handler" } ],
                  [ "...", "${AWS::StackName}-create-account-report", { "stat": "Sum", "period": 900, "label": "create-account-report" } ],
                  [ "...", "${AWS::StackName}-create-cred-report", { "stat": "Sum", "period": 900, "label": "create-cred-report" } ],
                  [ "...", "${AWS::StackName}-create-foreign-account-report", { "stat": "Sum", "period": 900, "label": "create-foreign-account-report" } ],
                  [ "...", "${AWS::StackName}-create-vpc-report", { "stat": "Sum", "period": 900, "label": "create-vpc-report" } ],
                  [ "...", "${AWS::StackName}-error-handler", { "stat": "Sum", "period": 900, "label": "error-handler" } ]
                ],
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stacked": false,
                "title": "Lambda Errors",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 0,
              "y": 27,
              "width": 12,
              "height": 3,
              "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [
                  [ "AWS/States", "ExecutionTime", "StateMachineArn", "${InventoryProcessStateMachine}", { "stat": "Sum", "period": 300 } ]
                ],
                "region": "${AWS::Region}",
                "annotations": {
                  "horizontal": [{"label": "10Min", "value": 600000 }]
                },
                "title": "State Machine ExecutionTime",
                "period": 300,
                "yAxis": {"left": {"min": 0 } }
              }
            },
            {
              "type": "metric",
              "x": 12,
              "y": 30,
              "width": 12,
              "height": 3,
              "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [
                  [ "AWS/DynamoDB", "ThrottledRequests", "TableName", "${AccountDBTable}", "Operation", "UpdateItem", { "stat": "Sum", "period": 300 } ],
                  [ "AWS/DynamoDB", "ThrottledRequests", "TableName", "${VpcInventoryDBTable}", "Operation", "UpdateItem", { "stat": "Sum", "period": 300 } ],
                  [ "AWS/DynamoDB", "ThrottledRequests", "TableName", "${HistoricalBillingDataTable}", "Operation", "UpdateItem", { "stat": "Sum", "period": 300 } ]
                ],
                "region": "${AWS::Region}",
                "title": "DDB Throttling"
              }
            },
            {
              "title": "DynamoDB Activity",
              "type": "metric",
              "x": 0,
              "y": 33,
              "width": 24,
              "height": 9,
              "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [
                  [ "AWS/DynamoDB", "ConsumedReadCapacityUnits", "TableName", "${AccountDBTable}", { "stat": "Sum", "period": 60 } ],
                  [ ".", "ConsumedWriteCapacityUnits", "TableName", "${AccountDBTable}", { "stat": "Sum", "period": 60 } ],
                  [ ".", "ConsumedReadCapacityUnits", "TableName", "${VpcInventoryDBTable}", { "stat": "Sum", "period": 60 } ],
                  [ ".", "ConsumedWriteCapacityUnits", "TableName", "${VpcInventoryDBTable}", { "stat": "Sum", "period": 60 } ],
                  [ ".", "ConsumedReadCapacityUnits", "TableName", "${HistoricalBillingDataTable}", { "stat": "Sum", "period": 60 } ],
                  [ ".", "ConsumedWriteCapacityUnits", "TableName", "${HistoricalBillingDataTable}", { "stat": "Sum", "period": 60 } ]
                ],
                "region": "${AWS::Region}",
                "title": "DynamoDB Activity",
                "period": 300
              }
            },
            {
              "type": "metric",
              "x": 0,
              "y": 42,
              "width": 12,
              "height": 3,
              "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [[ "AWS/S3", "BucketSizeBytes", "StorageType", "StandardStorage", "BucketName", "${pBucketName}", { "period": 86400 } ] ],
                "region": "${AWS::Region}",
                "yAxis": {"left": {"min": 0 } },
                "title": "Inventory Storage Used"
                }
            },
            {
              "type": "metric",
              "x": 12,
              "y": 42,
              "width": 12,
              "height": 3,
              "properties": {
                "view": "timeSeries",
                "stacked": false,
                "metrics": [[ "AWS/S3", "NumberOfObjects", "StorageType", "AllStorageTypes", "BucketName", "${pBucketName}", { "period": 86400 } ] ],
                "region": "${AWS::Region}",
                "yAxis": {"left": {"min": 0 } },
                "title": "Inventory Object Count"
              }
            }
          ]
        }

Outputs:
  StackName:
    Value: !Ref AWS::StackName
    Description: Just the name of this stack

  Version:
    Description: Version of this stack's deployment
    Value: !Ref pVersion

  LambdaPackageFile:
    Value: !Ref pLambdaZipFile
    Description: Object key to the Lambda package

  InventoryTriggerTopic:
    Value: !Ref TriggerAccountInventoryFunctionTopic
    Description: Topic that triggers the per-account inventory lambda. You can subscribe custom lambda to this topic

  NewAccountNotificationTopic:
    Value: !Ref NewActiveAccountTopic
    Description: The discovery of new accounts is sent to this topic.

  ForeignAccountNotificationTopic:
    Value: !Ref NewForeignAccountTopic
    Description: The discovery of new foreign (ie discovered in AMI or AssumeRole Policies) are sent to this topic

  TriggerEventName:
    Value: !Ref TriggerStateMachine
    Description: Name of the Trigger Event (used by the make file to enable to disable the inventory state machine)

  BucketName:
    Value: !Ref pBucketName
    Description: Name of S3 Bucket where all files are stored

  ErrorQueue:
    Value: !GetAtt ErrorHandlerEventQueue.QueueName
    Description: Name of the SQS Queue where lambda errors are sent
